.page {
  margin: auto;
  position: relative;
  max-width: 1024px;
  min-width: 700px;
  min-height: 768px;
  height: 100%;
}
table th {
  height:1.2rem;
  line-height:1.2rem;
  font-weight:400;
  background-color:gray;
  color:#fff;
  text-align:left;
  display:block
}
table td {
  height:2rem;
  line-height:2rem;
  text-align:left;
  overflow:hidden;
  display:block
}
table td[class*=col] {
  padding-bottom:0
}
.chall-table {
  width: 100%;
}
#selector {
  position: fixed;
  right: 10px;
  padding: 10px;
  margin: 2px;
  max-width: 150px;
  min-width: 90px;
  z-index: 87;
  background: #FC8763;
  border-radius: 3px;
}
#selector h4 {
  display: inline;
  color: #0c0c0c;
}
.label {
  display: inline;
  padding: .1em .6em .1em;
  font-size: 60%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #777;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}

